appdirs==1.4.3
arrow==0.14.5
backports-abc==0.5
certifi==2019.6.16
decorator==4.4.0
chardet==3.0.4
idna==2.8
praw==6.3.1
prawcore==1.0.1
python-dateutil==2.8.0
PyYAML==5.1.2
requests==2.22.0
shreddit==6.0.7
six==1.12.0
tornado==5.1.1
update-checker==0.16
urllib3==1.25.3
wheel==0.33.6
